Checks: >
  -*,
  bugprone-*,
  performance-*,
  modernize-*,
  readability-*,
  misc-*,
  cppcoreguidelines-*,
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-owning-memory,
  -readability-magic-numbers,
  -cppcoreguidelines-pro-type-vararg

WarningsAsErrors: ''

HeaderFilterRegex: '.*'

FormatStyle: 'file'
