# CMaake
build/
build-*/
build-debug/
build-release/
out/
bin/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/

# CLion
.idea/
cmake-build-*/
*.iws
*.iml
*.ipr

# C++
# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib

# Executable files
*.exe
*.out
*.app

# Other
*.pdb
*.ilk
*.map
*.exp
*.gch
*.pch

# System files

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.log
*.tmp
*.swp
*~